.total {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  text-align: center;
}
.text {
  color: white;
}
